button {
    background-color: rgba(40, 86, 211, 0.856);
    color: white;
    border: none;
    padding: 10px 50px 10px 50px;
    margin: 5px;
    font-family: 'TitilliumText22LRegular', Arial, sans-serif;
    font-weight: bold;
    min-width: 150px;
}

button:active {
    transform: translateY(3px);
}

button:hover {
    background: #289e1ec5;
}

body {
    text-align: center;
}

span {
    padding: 10px 50px 10px 50px;
    margin-bottom: 100px;
    background-color: rgba(99, 99, 99, 0.459);
}

output {
    background-color: rgba(99, 99, 99, 0.459);
}